extends _layouts/default

block page
  - activePage = 'portfolio'

append body
  //- MODALS
  include _modals/contact-form

  main#portfolio
    .page-section
      .wrapper: h1.title Portfolio
      .wrapper.medium: .row
        .lg-8: .generic-content
          p.
            It may not be much, but everything here has contributed to what I'm capable of today.
            I may look back at some of it and cringe some, especially at the many, many, abandoned repos, but I understand that it was necessary.
            It's part of being quite the overzealous and overconfident chap that I could sometimes be&mdash;it's sobering, to say the least.
          p.
            You're still better off checking my #[a(href=info.social.GitHub.link) Github] and #[a(href=info.social.CodePen.link) Codepen] for a full comprehensive list, as I'm dedicating this space to the more substantial projects I've taken up in my time.
        .show-lg.lg-4: img( src='/assets/img/unimpressive-honesty.png' )

      #portfolio-items.wrapper
        for project in portfolio
          - const { name, tags, repo, desc, demo } = project
          if !name
            - continue

          article( data-tags=tags.join(', ') )
            h2 #{name}
            p #{desc}
            .buttons
              if repo
                a( href=repo ): i.fab.fa-github
              if demo
                  a( href=demo ): i.fas.fa-play


